.govuk-header .search-header .gem-c-search__item-wrapper .gem-c-search__submit {
  background-image: url("../assets/images/search_icon.png");
  background-size: 28px;
  background-position-x: 3px;
}
#toolbar-item-administration-tray .toolbar-menu {
  font-size: small;
}
#toolbar-item-administration-tray .toolbar-menu li a {
  color: inherit;
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
}
#search-form #edit-submit {
  position: relative;
  top: -12px;
}

.govuk-header___content.govuk-grid-column-three-quarters{
  padding-top: 6px;
}
.latest-update h3, aside.side-bar h3{
  margin-bottom: 5px;
}
.latest-update li{
  margin-bottom: 30px;
}

aside .views-element-container{
  margin-bottom: 25px;
}
aside .govuk-list--spaced > li {
  margin-bottom: 5px;
}

form.search-header{
  margin-left: 0;
}

header.govuk-header, .govuk-button, .govuk-panel--confirmation {
  background-color: #19615B!important;
}
.govuk-header #block-mainnavigation, .govuk-header #block-mainnavigation .govuk-header__navigation{
  padding-left: 0;
}
.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:visited,  .govuk-header__navigation-item--active a:active{
  color: #D9D9D9 !important;
}
.browse-library .govuk-list.glossary-view li{
  float: left;
  padding-right: 10px;
  gap: 2rem;
  display: inline;
}

.govuk-pagination{
  margin-top: 30px;
  clear: both;
  padding-top: 30px;
}
.govuk-list--spaced--item .govuk-heading-s {
  margin-bottom: 5px !important;
  margin-top: 30px !important;
}
.govuk-header__branding__navigation li{
  display: inline-block;
  margin-right: 15px;
  padding: 5px 0;
  border: 0;
  list-style-type:none;
}
.govuk-header__branding__navigation{
  padding-left: 0;
  margin-left: 0;
}
.govuk-nav_branding.govuk-section-break--visible{
  margin-top: 0;
  padding-top: 0;
}

aside.govuk-grid-column-one-third .views-element-container{
  float: none !important;
  margin-left: 30px
}
.lib-search-exposed-filter ul li h3{
  margin-bottom: 5px;
}

.lib-search-exposed-filter ul li{
  margin-bottom: 20px;
}

.help .govuk-link:visited, .help a:visited {
  color: #000000;
}
.help a:hover {
  color: #ffffff;
}
.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:hover, .govuk-header__navigation-item--active a:visited {
  color: #D9D9D9;
}
aside .editorschoice-menu.govuk-list ul {
  padding-left: 0px;
  list-style-type: none;
}
.govuk--margin-bottom-6{
  margin-bottom: 30px !important;
}

.micro-teaser .govuk-heading-s {
  margin-bottom: 5px;
}

.govuk-header__navigation-item a.govuk-header__link,
.govuk-header__navigation-item a,
.govuk-header___logo a.govuk-header__link,
.govuk-header___content a {
  background-color: transparent !important; 
  border-top: none !important; 
}

.govuk-header__navigation-item a.govuk-header__link:active:hover, 
.govuk-header__navigation-item a.govuk-header__link:active:focus,  
.govuk-header__navigation-item a.govuk-header__link:active, 
.govuk-header__navigation-item a.govuk-header__link:target,
.govuk-header__navigation-item a.govuk-header__link:hover {
  border-top: none !important;
  text-decoration: none !important;
}

.govuk-header__link:focus {
  outline: 3px solid transparent;
  color: #D9D9D9 !important;
  background-color: transparent !important;
  box-shadow: 0 -2px transparent, 0 4px #D9D9D9 !important;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.box-link {
  border-radius: var(--border-radius-alt);
  /* border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-right-radius: ;
  border-bottom-left-radius: ; */
  margin-bottom: var(--grid-gap);
}

@media only screen and (min-width: 1024px){
  
.box-link__top {
    height: 150px;
  }
}
.box-link__top {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: var(--spacing-small);*/
  /* padding: var(--spacing-medium); */
  border-top-left-radius: var(--border-radius-alt);
  border-top-right-radius: var(--border-radius-alt);
  border: #19615B solid 2px;
}

.box-link h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 23px;  /* font-size: calc($font-size/10)rem; */
  text-align: center;
}
.box-link__bottom {
  background: #19615B;
  padding: var(--space-sm);
  border-bottom-left-radius: var(--border-radius-alt);
  border-bottom-right-radius: var(--border-radius-alt);
}

.box-link__bottom p {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.box-link:link, .box-link a:link {
  color: #19615B;
}

.box-link h3 a{
  font-weight: 900;;
}
.flag-bookmark{ 
  margin: 35px 0;
  clear: both;
}
.frontpage-tiles, #block-govuk-pins-frontpage{
  margin: 15px 0;
  clear: both;
  margin-top: var(--grid-gap);
}

.govuk-item-list-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.govuk-item-list-counter li {
  counter-increment: step-counter;
  margin-bottom: 15px;
}
.govuk-item-list-counter li::before {
  content: counter(step-counter);
  margin-right: 25px;
  font-size: 110%;
  background-color: #19615B; 
   /* rgb(180, 180, 180); */
  color: white;
  font-weight: 900;
  padding: 3px 8px;
  border-radius: 11px;
  text-align: left;
}


.box {
  --box-bg: #fff;
  background: var(--box-bg);
  /* border-radius: var(--border-radius-alt); */
  padding: 1.6em;
  position: relative;
}

.box-link svg {
  height: auto;
  /* margin-bottom: var(--spacing-medium); */
  margin-bottom: var(--spacing-small);
}

.l-rs, .pager__items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.box>*{
  position: relative;
  hyphens: none;
}


@media only screen and (min-width: 768px){
  .box {
      padding: 3.2rem;
      padding: var(--spacing-medium);
  }
  .box--steps ul {
      column-count: 1;
      column-rule: 1px dashed var(--color-border-alt);
      gap: var(--spacing-medium);
      /* margin-top: var(--spacing-small); */
      
      
  }
}

.box--steps .box-link {
  border-radius:0;
  border-top-left-radius: var(--border-radius-alt);
  border-top-right-radius: var(--border-radius-alt);
}

.box--steps ul {
  float: left;
  background: #ffffff;
  border-top-left-radius: var(--border-radius-alt);
  border-top-right-radius: var(--border-radius-alt);
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.box--steps {
  margin-bottom: var(--spacing-medium);
}

.box--steps ul li {
  /* border-bottom: 1px dashed var(--color-border-alt); */
  padding: var(--space-sm);
  list-style: none;
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  font-weight: 600;
  float: left;
  margin-bottom: 0;
  padding: 15px;
}

.hpeditorschoice {
  padding: 2px;
  margin: 0;
  height: 80px;
  border: 0;
  background: #19615B;
  clear: both;
  flex-direction: unset;
}

.govuk-box-body {
  float: left;
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  margin-right: 20px;
  font-size: 17px;
}

.govuk-section-break--m--editor {
  border-top: 1px solid #b1b4b6;
  padding-top: 30px;
}

@media (min-width: 40.0625em){
  .govuk-section-break--m--editor {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
.mailto .fa-mailto{
  display: none;
}

.doc-version td, .doc-version th{
  padding: 5px 50px 5px 0px;
}
.doc-version thead {
  font-weight: bolder;
  font-size: 1.1875rem;
}

.collapsiblockTitle h3 {
  padding-top: 10px;
  padding-bottom: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
  text-decoration: none;
  border-top: 1px solid #b1b4b6;
}
.collapsiblockTitle.collapsiblockTitleCollapsed h3 {
  text-decoration: underline;
  border-left: 1px solid #b1b4b6;
}



.govuk-grid-column-one-third .box-link__bottom  {
  /* background: #ccc; */
}

.collapsiblockContent h3{
  display: none;
}

:root{
  /* --border-radius-alt: 1rem;
  --space-small: 1rem; */
  --text-color-default: #313131;
  --body-color: #f4f4f4;
  --box-link-bg: #f4f4f4;
  --unpublished-color: #ccc;
  --link-color: #d01c2f;
  --cta-text-color: #fff;
  --cta-color: #d01c2f;
  --cta-border: #d01c2f;
  --container-size: 1200px;
  --text-decoration-thickness: 2px;
  --text-decoration-border-color: #f4f4f4;
  --form-input-bg: #fff;
  --border-radius-default: 5px;
  --border-radius-alt: 1rem;
  --border-width-default: 1px;
  --border-width-alt: 3px;
  --duration-default: .25s;
  --duration-alt: .5s;
  --spacing-small: 1rem;
  --spacing-default: 2rem;
  --spacing-medium: 3.2rem;
  --spacing-large: 6.4rem;
  --spacing-x-large: 12.8rem;
  --flow-space: 2rem;
  --list-item-spacing: 2rem;
  --grid-gap: 2.8rem;
  --auto-fill: repeat(auto-fill, minmax(400px, 1fr));
  --color-border: #1D1D1B;
  --color-border-alt: #E8E8E8;
  --space: 2rem; 
  --space-xs: calc(var(--space)/3); 
  --space-sm: calc(var(--space)/2); 
  --space-md: calc(var(--space)*2); 
  --color-primary: lightgray; 
  --color-accent: whitesmoke; 
  --color-dark: black; 
  --color-mid: gray; 
  --color-light: white; 
  --color-highlight: dodgerblue; 
  --radius: 0.125rem;
}

.govuk-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.govuk-icon-download {
  background-image: url("../assets/images/icons_download.png");
}

.govuk-icon-folder {
  background-image: url("../assets/images/icons_folder.png");
}

.govuk-icon-compound-folder {
  background-image: url("../assets/images/icons_compound_folder.png");
}

.govuk-icon-open {
  background-image: url("../assets/images/icons_open.png");
}

.govuk-table-spacing {
  margin-top: 15px;
}

/* Added for facet design changes*/
.facet-item {
  list-style:none;
}

.box-link__bottom  a:link {
  color: #fff;
}

.bestbet-ribbon {
  width:20%;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  background-color: #19615B;
  text-transform: lowercase;
  color: white;
}
/* Added for setting dimensions for svg provided without dimension with respect to old svg dimensions*/
.govuk-header__logotype-organisation-fallback-image{
  width: 107px;
  height: 67px;
} 
.appeal-details .govuk-summary-list__key,
.appeal-details .govuk-summary-list__value,
.appeal-details .govuk-summary-list__actions {
  padding-top: .2rem;
  padding-bottom: 0;
}

.views-field-name a {
  font-weight: bold;
  text-decoration: none;
}