h1 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  h1 {
    font-family: sans-serif;
  }
}
h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.09375;
}
@media (min-width: 40.0625em) {
  h1 {
    font-size: 3rem;
    line-height: 1.0416666667;
  }
}
@media print {
  h1 {
    font-size: 32pt;
    line-height: 1.15;
  }
}
h1 {
  display: block;
  margin-top: 0;
  color: var(--govuk-text-colour, #0b0c0c);
  margin-bottom: 30px;
}
@media (min-width: 40.0625em) {
  h1 {
    margin-bottom: 50px;
  }
}

h2 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  h2 {
    font-family: sans-serif;
  }
}
h2 {
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 1.1111111111;
}
@media (min-width: 40.0625em) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.1111111111;
  }
}
@media print {
  h2 {
    font-size: 24pt;
    line-height: 1.05;
  }
}
h2 {
  display: block;
  margin-top: 0;
  color: var(--govuk-text-colour, #0b0c0c);
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  h2 {
    margin-bottom: 30px;
  }
}

h3 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  h3 {
    font-family: sans-serif;
  }
}
h3 {
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.1904761905;
}
@media (min-width: 40.0625em) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media print {
  h3 {
    font-size: 18pt;
    line-height: 1.15;
  }
}
h3 {
  display: block;
  margin-top: 0;
  color: var(--govuk-text-colour, #0b0c0c);
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  h3 {
    margin-bottom: 20px;
  }
}

h4,
h5 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  h4,
  h5 {
    font-family: sans-serif;
  }
}
h4,
h5 {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
@media print {
  h4,
  h5 {
    font-size: 14pt;
    line-height: 1.15;
  }
}
h4,
h5 {
  display: block;
  margin-top: 0;
  color: var(--govuk-text-colour, #0b0c0c);
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  h4,
  h5 {
    margin-bottom: 20px;
  }
}

ul {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  ul {
    font-family: sans-serif;
  }
}
ul {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
@media print {
  ul {
    font-size: 14pt;
    line-height: 1.15;
  }
}
ul {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  ul {
    margin-bottom: 20px;
  }
}
ul {
  padding-left: 20px;
  color: var(--govuk-text-colour, #0b0c0c);
}
ul > li {
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  ul > li {
    margin-bottom: 5px;
  }
}
ul {
  list-style-type: disc;
}

ol {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  ol {
    font-family: sans-serif;
  }
}
ol {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
@media print {
  ol {
    font-size: 14pt;
    line-height: 1.15;
  }
}
ol {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  ol {
    margin-bottom: 20px;
  }
}
ol {
  padding-left: 20px;
  color: var(--govuk-text-colour, #0b0c0c);
}
ol > li {
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  ol > li {
    margin-bottom: 5px;
  }
}
ol {
  list-style-type: decimal;
}

.search-header {
  width: 100%;
  float: left;
}

@media (min-width: 40.0625em) {
  .search-header {
    width: 40%;
    float: right;
  }
}
@media (min-width: 48.0625em) {
  .search-header {
    width: 30%;
  }
}
.gem-c-search {
  position: relative;
  top: -3px;
}
@media (min-width: 40.0625em) {
  .gem-c-search {
    top: 0;
  }
}

.gem-c-search__label {
  display: block;
}

.gem-c-search__input[type=search] {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.4736842105;
  padding: 6px;
  margin: 0.5em 0;
  width: 100%;
  height: 30px;
  border: 0;
  background: var(--govuk-body-background-colour, #ffffff);
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gem-c-search__input[type=search]:focus {
  outline: 3px solid var(--govuk-focus-colour, #ffdd00);
  outline-offset: 0;
}

.gem-c-search__submit {
  padding: 6px;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

.gem-c-search__submit:focus {
  outline: 3px solid var(--govuk-focus-colour, #ffdd00);
  outline-offset: 0;
}

.js-enabled .gem-c-search__label {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
  color: #6f777b;
}

.gem-c-search__item-wrapper {
  display: table;
  width: 100%;
  background: var(--govuk-body-background-colour, #ffffff);
}

.gem-c-search__item {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.gem-c-search__input[type=search] {
  margin: 0;
}

.gem-c-search__input[type=search]:focus,
.gem-c-search__input[type=search].focus {
  z-index: 2;
}

.gem-c-search__submit-wrapper {
  width: 1%;
}

.gem-c-search__submit {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
}

.gem-c-search__submit:focus {
  z-index: 2;
}

.gem-c-search__submit::-moz-focus-inner {
  border: 0;
}

.gem-c-search--on-white .gem-c-search__label {
  color: var(--govuk-text-colour, #0b0c0c);
}

.gem-c-search--on-white .gem-c-search__input[type=search] {
  border: solid 1px #cecece;
}

.gem-c-search--on-white .gem-c-search__submit {
  background-color: var(--govuk-brand-colour, #1d70b8);
  color: #ffffff;
}

.gem-c-search--on-white .gem-c-search__submit:hover {
  background-color: #5694ca;
}

.gem-c-search--on-white .gem-c-search__input[type=search] {
  border-right: 0;
}

.js-enabled .gem-c-search--on-white .gem-c-search__label {
  color: var(--govuk-secondary-text-colour, #484949);
}

.gem-c-search--large .gem-c-search__label {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 3.125;
}

.gem-c-search--large .gem-c-search__submit {
  width: 30px;
  height: 30px;
  background-position: 0px 50%;
}

.gem-c-search--separate-label .gem-c-search__label {
  position: relative;
  left: auto;
}

.govuk-header #block-mainnavigation {
  display: none;
}
@media (min-width: 48.0625em) {
  .govuk-header #block-mainnavigation {
    display: block;
  }
}
.govuk-header .hamburger {
  float: right;
  color: #ffffff;
  font-size: 26px;
  cursor: pointer;
  padding-left: 15px;
}
@media (min-width: 48.0625em) {
  .govuk-header .hamburger {
    display: none;
  }
}
.govuk-header #mobile-menu {
  position: relative;
  width: 100%;
}
.govuk-header #mobile-menu #mobile-menu-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #0b0c0c;
  width: 100%;
}
.govuk-header #mobile-menu #mobile-menu-content .govuk-header__navigation {
  display: block;
  padding: 0 15px;
}
.govuk-header #mobile-menu #mobile-menu-content .govuk-header__navigation li {
  padding: 0;
  font-size: 20px;
}
.govuk-header #mobile-menu #mobile-menu-content .govuk-header__navigation li a {
  padding: 20px 0;
  width: 100%;
  display: block;
}

.app-related-items {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

.form-text {
  background: none;
}

.app-phase-banner {
  border-bottom: 0;
}

.app-cookie-banner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--govuk-body-background-colour, #ffffff);
}
.app-cookie-banner .govuk-width-container {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14286;
  color: #85994b;
}

.govuk-header__logo {
  width: auto;
  float: left;
  padding-right: 0;
}
.govuk-header__logo .govuk-header__link {
  white-space: nowrap;
}

.govuk-header__product-name {
  padding-left: 10px;
}

#block-mainnavigation {
  float: left;
  padding-left: 20px;
}
#block-mainnavigation .govuk-header__navigation {
  margin-bottom: 0;
}

@media (min-width: 48.0625em) {
  .govuk-grid-column-one-third .views-element-container {
    float: right;
  }
}

.webform-element label {
  font-weight: bold;
}

.govuk-tabs {
  margin-bottom: 0;
}

.govuk-main-wrapper.has-breadcrumb {
  padding-top: 20px;
}

.govuk-main-wrapper.has-local-tasks #block-govuk-content {
  margin-bottom: 30px;
}
@media (min-width: 40.0625em) {
  .govuk-main-wrapper.has-local-tasks #block-govuk-content {
    margin-bottom: 50px;
  }
}
.govuk-frontend-supported .govuk-main-wrapper.has-local-tasks #block-govuk-content {
  margin-bottom: 0;
  padding: 30px 20px;
  border: 1px solid;
  border-top: 0;
  border-color: var(--govuk-border-colour, #cecece);
}
.govuk-frontend-supported .govuk-main-wrapper.has-local-tasks #block-govuk-content > :last-child {
  margin-bottom: 0;
}

.drupal-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  .drupal-tabs__list {
    margin-bottom: 30px;
  }
}
@media (min-width: 40.0625em) {
  .drupal-tabs__list::after {
    content: "";
    display: block;
    clear: both;
  }
  .drupal-tabs__list {
    margin-bottom: 0;
    border-bottom: 1px solid;
    border-bottom-color: var(--govuk-border-colour, #cecece);
  }
}
/*# sourceMappingURL=../map/style.css.map */
