/* .govuk-header___content.govuk-grid-column-three-quarters{
  padding-top: 6px;
}
.latest-update h3, aside.side-bar h3{
  margin-bottom: 5px;
}
.latest-update li{
  margin-bottom: 30px;
}

aside .views-element-container{
  margin-bottom: 25px;
}
form.search-header{
  margin-left: 0;
} */